{% extends "index/index.html" %}
{% block body %}
<form method="post"  name="form1" id="form1"  action="/mms">

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td width="59">User name</td>
        <td width="249"><input class="form-control" type="text" name="username" id="textfield" required></td>
      </tr>
      <tr>
        <td>Current password</td>
        <td><input type="text" class="form-control" name="crntpsd" id="textfield2" required></td>
      </tr>
      <tr>
        <td>New password</td>
        <td><input type="text" class="form-control" name="newpsd" id="textfield3" required></td>
      </tr>
      <tr>
        <td>Confirm password</td>
        <td><input type="text" class="form-control" name="cnpsd" id="textfield4" required></td>
      </tr>
      <tr>
        <td><input type="submit" class="btn btn-success" name="submit" id="button" value="OK"></td>
        <td><a href="/userhome" class="btn btn-danger">Cancel</a></td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}