{% extends "index/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/addgroup">
  <table  class="table table-bordered">
    <tbody>
      <tr>
        <td width="150px">Group Name</td>
        <td><input type="text" name="groupname" id="textfield" class="form-control" required></td>
      </tr>
      <tr>
        <td></td>
        <td>
        <input type="submit" class="btn btn-success" name="button" id="button" value="Button"></td>
        
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}