{% extends "index/index.html" %}
 {%  block body %}
<img src="/static/photos/theme.jpg" height="800px" width="1500px">
<!-- <form id="form1" name="form1" method="post" action="/userhomes">
  <table width="200" border="1" align="center">
    <tbody>
      <tr>
        <td><a href="registration.html">Registration</a></td>
      </tr>
      <tr>
        <td><a href="/fileupl">file upload</a></td>
      </tr>
      <tr>
        <td><a href="/usercreategroup">Groupshare</a></td>
      </tr>
      <tr>
        <td><a href="/groupsview">Viewgroup</a></td>
      </tr>
      <tr>
        <td><a href="/uplview">Viewupload</a></td>
      </tr>
      <tr>
        <td><a href="></a></td>
      </tr>
      <tr>
       <td><a href="/mm">chang</a></td>
      </tr>
      <tr>
        <td><a href="/usershareview">Usershare</a></td>
      </tr>
      <tr>
        <td><a href="/log">Logout</a></td>
      </tr>
    </tbody>
  </table> -->
<!-- </form> -->
 {% endblock %}
